# git ignore file

bcm.ini

*.pyc
pybcm/bcmdata.pyc
pybcm/__init__.pyc
pybcm/bcmdata.pyc
pybcm/blreader.py3
pybcm/blreader.pyc
pybcm/bricklinkdata.pyc
pybcm/__init__.pyc
pybcm/bcmdata.pyc
pybcm/blreader.pyc
pybcm/bricklinkdata.pyc
pybcm/legoutils.pyc
pybcm/main.pyc
pybcm/optimizer.pyc
pybcm/shoppinglist.pyc
pybcm/__init__.pyc
.idea/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pyc
*.pyc
