[filenames]
wanted = ../Sampledata/Star Destroyer 30056-1.bsx
prices = ../Sampledata/Star Destroyer 30056-1.xml

[options]
reloadpricesfromweb = True

[bricklink]
username = USERNAME
password = PASSWORD